extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | KBBQ.SPACE was built to help you find the right Korean barbecue place to fulfill your KBBQ cravings. 
        | <br /><br />
        | Bacon ipsum dolor amet swine bacon jerky pastrami kevin. Turkey prosciutto venison short ribs doner ham hock cow jerky shoulder shankle fatback. Beef ribs short loin tongue, beef pork loin turkey pork belly ham hock jowl ground round corned beef shank short ribs leberkas brisket. Beef swine shank, leberkas capicola corned beef ham salami sirloin hamburger alcatra brisket.
        | <br /><br />
        | Salami landjaeger turducken shoulder, tenderloin ham beef leberkas jowl kielbasa shank pancetta capicola. Bacon picanha tenderloin ball tip, filet mignon landjaeger turkey kevin beef ribs hamburger pancetta. Ribeye landjaeger picanha hamburger turducken prosciutto frankfurter kielbasa bresaola ham beef flank venison. Doner flank boudin, shoulder chuck beef spare ribs meatloaf picanha tenderloin meatball tongue alcatra pancetta. Swine cupim pancetta prosciutto pastrami shank. Meatball andouille bacon frankfurter, ribeye flank salami beef meatloaf strip steak corned beef ground round pancetta.