extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h2 Find Korean Barbeque Places Near You
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location").text-info Matna BBQ
            small &nbsp;
              span.fa.fa-star.text-warning
              span.fa.fa-star.text-warning
              span.fa.fa-star.text-warning
              span.fa.fa-star-o.text-warning
              span.fa.fa-star-o.text-warning
            span.badge.pull-right.badge-default 500 ft
          p.address 500 Main St. Henderson, NV 89014
          p
            span.label.label-warning AYCE
            | &nbsp;
            span.label.label-warning Charcoal
            | &nbsp;
            span.label.label-warning Premium Beef
            | &nbsp;
            span.label.label-warning Pork
            | &nbsp;
    .col-xs-12.col-md-4
      p.lead Craving good Korean BBQ? KBBQ.SPACE helps you find Korean BBQ restaurants near you! Let KBBQ.SPACE help you find the restaurant you are looking for.